{% if diaryList %}
    {# All #}
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <div class="card-columns">
            {% for diary in diaryList %}
                <div class="card mb-4 {{ random(['card-bg-orange', 'card-bg-grey', 'card-bg-blue']) }}">
                    <div class="card-body">
                        {% if diary.dateTime %}
                            <span>{{ diary.dateTime|date("l\\, F d") }}</span>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if diary.noteType %}
                            <span>{{ diary.noteType }}</span>
                        {% endif %}
                        {% if diary.image %}
                            <img class="card-img my-3" src="{{ diary.image.path ~ diary.image.filename }}" alt="{{ diary.image.filename }}">
                        {% endif %}
                        {% if diary.text %}
                            <div class="ck ck-content ck-editor__editable_inline p-0">
                                {{ diary.text | raw }}
                            </div>
                        {% endif %}
                    </div>
                    {% if diary.emoji %}
                        <p class="float-right h4 mb-0 pr-1">{{ diary.emoji }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Notes #}
    <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
        <div class="card-columns">
            {% for diary in diaryList|filter(diary => diary.noteType == 'Note') %}
                <div class="card mb-4 {{ random(['card-bg-orange', 'card-bg-grey', 'card-bg-blue']) }}">
                    <div class="card-body">
                        {% if diary.dateTime %}
                            <span>{{ diary.dateTime|date("l\\, F d") }}</span>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if diary.noteType %}
                            <span>{{ diary.noteType }}</span>
                        {% endif %}
                        {% if diary.image %}
                            <img class="card-img my-3" src="{{ diary.image.path ~ diary.image.filename }}" alt="{{ diary.image.filename }}">
                        {% endif %}
                        {% if diary.text %}
                            <div class="ck ck-content ck-editor__editable_inline p-0">
                                {{ diary.text | raw }}
                            </div>
                        {% endif %}
                    </div>
                    {% if diary.emoji %}
                        <p class="float-right h4 mb-0 pr-1">{{ diary.emoji }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Experiences #}
    <div class="tab-pane fade" id="pills-experiences" role="tabpanel" aria-labelledby="pills-experiences-tab">
        <div class="card-columns">
            {% for diary in diaryList|filter(diary => diary.noteType == 'Experience') %}
                <div class="card mb-4 {{ random(['card-bg-orange', 'card-bg-grey', 'card-bg-blue']) }}">
                    <div class="card-body">
                        {% if diary.dateTime %}
                            <span>{{ diary.dateTime|date("l\\, F d") }}</span>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if diary.noteType %}
                            <span>{{ diary.noteType }}</span>
                        {% endif %}
                        {% if diary.image %}
                            <img class="card-img my-3" src="{{ diary.image.path ~ diary.image.filename }}" alt="{{ diary.image.filename }}">
                        {% endif %}
                        {% if diary.text %}
                            <div class="ck ck-content ck-editor__editable_inline p-0">
                                {{ diary.text | raw }}
                            </div>
                        {% endif %}
                    </div>
                    {% if diary.emoji %}
                        <p class="float-right h4 mb-0 pr-1">{{ diary.emoji }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Dreams #}
    <div class="tab-pane fade" id="pills-dreams" role="tabpanel" aria-labelledby="pills-dreams-tab">
        <div class="card-columns">
            {% for diary in diaryList|filter(diary => diary.noteType == 'Dream') %}
                <div class="card mb-4 {{ random(['card-bg-orange', 'card-bg-grey', 'card-bg-blue']) }}">
                    <div class="card-body">
                        {% if diary.dateTime %}
                            <span>{{ diary.dateTime|date("l\\, F d") }}</span>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if diary.noteType %}
                            <span>{{ diary.noteType }}</span>
                        {% endif %}
                        {% if diary.image %}
                            <img class="card-img my-3" src="{{ diary.image.path ~ diary.image.filename }}" alt="{{ diary.image.filename }}">
                        {% endif %}
                        {% if diary.text %}
                            <div class="ck ck-content ck-editor__editable_inline p-0">
                                {{ diary.text | raw }}
                            </div>
                        {% endif %}
                    </div>
                    {% if diary.emoji %}
                        <p class="float-right h4 mb-0 pr-1">{{ diary.emoji }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>No Diary was found! Add Diary by clicking the plus button :)</p>
{% endif %}